@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Coolvetica";
    src: url(../media/fonts/coolvetica.otf);
}

@font-face {
    font-family: "Poppins";
    src: url(../media/fonts/Poppins-Medium.ttf);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f9bb21;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::selection {
    background-color: #f9bb21;
    color: #000000;
}

.bg-img {
    background-image: url(../media/images/BgCover.png);
    background-size: cover;
    background-attachment: fixed;
}
.bg-brand {
    background-color: #f9bb21;
}

.font-colvet {
    font-family: "Coolvetica";
}

.font-poppy {
    font-family: "Poppins";
}

.bg-off-brand {
    background-color: rgb(255, 255, 255, 39%);
}

.placeholder-color::placeholder {
    color: #000000;
    opacity: 0.7;
}

input[type="submit"] {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 200, 0);
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.text-brand {
    color: #f9bb21;
}

.text-brand-hover:hover {
    color: #f9bb21;
}

.bg-img-food {
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.155)),
        url("https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

input.incorrect {
    border-color: red;
}

.error-div {
    margin: 20px 0;
}

.error {
    animation: shake 0.5s;
}

.error::placeholder {
    color: rgb(0, 0, 0);
}

@keyframes shake {
    0% {
        transform: translateX(0);
        background-color: red;
    }
    25% {
        background-color: red;
        transform: translateX(-5px);
    }
    50% {
        background-color: red;
        transform: translateX(5px);
    }
    75% {
        background-color: red;
        transform: translateX(-5px);
    }
    100% {
        background-color: red;
        transform: translateX(0);
    }
}
